// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #EDEDED;
@light-gray: #E5E5E5;
@gray: #636363;
@dark-gray: #404040;
@very-dark-gray: #292929;

@cyan: #2A9FBC;
@blue: #2A9FBC;
@light-blue: lighten(@blue, 20%);
@purple: #675BA7;
@green: darken(#9BC850, 10%);
@red: lighten(#A62E5C, 10%);
@orange: #F15B2A;
@light-orange: #F15B2A;
